<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu" th:fragment="left-sidebar" xmlns:th="https://www.thymeleaf.org/">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul class="metismenu mm-show" id="side-menu">

                <li class="menu-title">Navigation</li>
                <th:block th:each="menu : ${session.menuSession}">
                    <li th:id="${menu.idMenu}">
                        <a href="javascript: void(0);" class="waves-effect">
                            <th:block th:switch="${menu.id}">
                                <i th:case="1" class="mdi mdi-store"></i>
                                <i th:case="9" class="fas fa-boxes"></i>
                                <i th:case="17" class="ion ion-md-shuffle"></i>
                                <i th:case="26" class="ion ion-ios-body"></i>
                                <i th:case="27" class="ion ion-logo-octocat"></i>
                                <i th:case="*" class="ion-ios-apps"></i>
                            </th:block>
                            <span th:text="${menu.name}"></span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false" th:each="child : ${menu.child}">
                            <li th:id="${child.idMenu}">
                                <a th:href="${child.url}" th:text="${child.name}"></a>
                            </li>
                        </ul>
                    </li>
                </th:block>
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->