<th:block xmlns:th="https://www.thymeleaf.org/" th:fragment="link-footer">
    <script th:src="@{/assets/js/vendor.min.js}"></script>

    <script th:src="@{/assets/libs/moment/moment.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-scrollto/jquery.scrollTo.min.js}"></script>
    <script th:src="@{/assets/libs/sweetalert2/sweetalert2.min.js}"></script>

    <!-- Chat app -->
    <script th:src="@{/assets/js/pages/jquery.chat.js}"></script>

    <!-- Todo app -->
    <script th:src="@{/assets/js/pages/jquery.todo.js}"></script>

    <!--Morris Chart-->
    <script th:src="@{/assets/libs/morris-js/morris.min.js}"></script>
    <script th:src="@{/assets/libs/raphael/raphael.min.js}"></script>

    <!-- Sparkline charts -->
    <script th:src="@{/assets/libs/jquery-sparkline/jquery.sparkline.min.js}"></script>

    <!-- Dashboard init JS -->
    <script th:src="@{/assets/js/pages/dashboard.init.js}"></script>

    <!-- App js -->
    <script th:src="@{/assets/js/app.min.js}"></script>
</th:block>